<main>
  <div class="page-container">
    <div class="flex justify-between items-center mb-4">
      <h1 class="section-title">Products ({{ products.length }})</h1>
      @if (isAuthenticated) {
        <button class="btn-primary ml-4"
                (click)="goToCreateProductPage()">
          Create Product
        </button>
      }
    </div>
    @if (products.length > 0) {
      @if (orderSuccess) {
        <h4 class="message-success">Order placed successfully.</h4>
      } @else if (orderFailed) {
        <h4 class="message-error">Order failed, please try again later.</h4>
        @if(quantityIsNull) {
          <h4 class="message-error">Quantity must be greater than 0.</h4>
        }
      }
      <ul class="list-disc list-inside">
        @for (product of products; track product.id) {
          <li class="product-card">
            <div>
              <span class="font-semibold">{{ product.name }}</span> -
              <span class="text-gray-600">
                Price: {{ product.price }}
              </span>
              <br/>
              <span >
                Quantity:
                <input type="number" min="1" step="1" class="form-input mt-1 max-w-24" #quantityInput/>
              </span>
              <br/>
            </div>
            <button class="btn-primary ml-4"
                    (click)="orderProduct(product, quantityInput.value)">
              Order Now
            </button>
          </li>
        }
      </ul>
    } @else if (products.length === 100) {
      <span class="text-sm text-gray-700">
      Click <a class="text-blue-500 hover:underline cursor-pointer">Load More</a> to see more products
    </span>
    } @else {
      <p class="message-error">No products found.</p>
    }
  </div>
</main>
